<form action="mail.php" method="post" enctype="multipart/form-data">.
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="csss.css" type="text/css"/>
Имя пользователя<br />
<input type="text" name="name" size="30" class="required"/>
<br />
Ваш e-mail:<br />
<input name="email" type="text" size="30" />
<br />
Сообщение:<br />
<textarea name="mess" rows="3" cols="25"></textarea>
<p>
<input type="submit" value="Отправить сообщение"/>
<input type="file" name="files" value="Отправить файл" > 
</p>
</form>